/*Import fonts from Google Fonts*/

/*Background image*/
body {
    background-image: url("../images/questionmarks.png");
    background-repeat: repeat;
    margin-bottom:70px; /*same height as the footer*/
}

#mainContent{
    padding-top:100px;
    padding-left:10%;
    padding-right:10%;
}


p {
    font-size:20px;
}

.wrapper{
    width: 500px;
    text-align: center;
}


#welcomePage{
    display:block;
}

#quizPage, #scorePage, #highscorePage{
    display:none;
}

.choices {
    display:block;
    margin-top:10px;
}



#feedback{
    text-align: left;
    display: none;
}